body {
  font-family: "Times New Roman", Georgia, Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}

.w3-image {
  object-fit: cover;
  width: 100%;
}

#smallMenu {
  background-color: white;
  z-index: 1;
}
